<%= render 'dashboard/head' %>
<%= render 'dashboard/secondary_tab_nav' %>

<%- new_items = false -%>
<div class="row">
<%- @dashs.each do |dash| -%>
  <%- next unless dash[:relation].any? -%>

  <%= render 'dashboard/dash_card', dash: dash %>
  <%- new_items = true -%>
<%- end -%>
</div>

<%- unless new_items %>
  <%= render 'dashboard/empty_result' %>
<%- end -%>
