<%= simple_form_for([@route, @inventory]) do |form| -%>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :anchor_number,
    label: _('Anchor number'),
    hint: _('The anchors are numbered bottom-up starting with 1.')
  ) %>
  <%= form.association(
    :product,
    label: _('Product'),
    as: :grouped_select,
    collection: Product.grouped_select_collection,
    label_method: :label,
    value_method: :id,
    group_method: :items,
    group_label_method: :label
  ) %>
  <%= form.input(
    :role,
    label: _('Role'),
    collection: Inventory.roles.map { |i| [_(i), i] },
    hint: _('The function of the inventory in this route.'),
  ) %>
  <%= form.input(
    :description,
    label: _('Description'),
    hint: _('Additional remarks regarding this inventory.'),
  ) %>
  <%= form.input(
    :installed_at,
    label: _('Installation date'),
    as: :datepicker,
    clear_button: true,
    hint: _('Date when the inventory was installed.'),
  ) %>
  <%= form.input(
    :removed_at,
    label: _('Removal date'),
    as: :datepicker,
    clear_button: true,
    hint: _('Date when the inventory was removed.'),
  ) %>

  <%= form.button :submit %>
  <%= form.button(
    :submit,
    name: 'commit-and-next',
    value: _('Create inventory and create another'),
  ) unless @inventory.persisted? %>
<% end -%>
