<% if can?(:destroy, @topo) -%>
  <%= link_to '<span class="fa fa-trash"></span> Delete'.html_safe, @topo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
<% end %>

<h1>Editing Topo</h1>

<%= render 'form', topo: @topo %>

