
<div class="pull-right btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% if can?(:edit, @topo) -%>
      <li><%= link_to 'Edit'.html_safe, edit_topo_path(@topo) %></li>
    <% end -%>
  </ul>
</div>

<h2><%= link_to @topo.target.name, @topo.target %></h2>

<div class="topo" style="background-image: url(<%= @topo.overlay.url %>), url(<%= @topo.background.url %>)">
</div>

<p><%= @topo.description %></p>

