<%- if geo_ref_path_cache.nil? -%>
  <%= icon_link_to(
    'question',
    _('unknown'),
    '#',
    class: 'text-secondary'
  ) %> /
<%- else -%>
  <% geo_ref_path_cache.path.each do |item| -%>
    <%= icon_link_to(
      item['class'].constantize.icon,
      item['name'],
      geo_ref_path(item['id']),
      class: 'text-secondary'
    ) %> /
  <% end -%>
<%- end -%>
