<li>
  <div class="thumb">
    <%= image_tag(item.background.thumb.url, class: 'img-thumb') if item.background? %>
  </div>
  <div class="controls">
    <% if can?(:update, @topo) -%>
      <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_topo_path(item), class: 'btn btn-success btn-sm' %>
    <% end -%>
  </div>
  <div class="title">
    <%= link_to item.target.name, item.target %> / <%= link_to item.title, item %>
  </div>
  <div class="description">
    <%= item.description %>
  </div>
</li>
