<%- content_for :title, _('Users') -%>
<%- content_for :icon, User.icon -%>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Name') %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: _('Search for name...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= render(
  'common/content_list',
  result: @users
) %>
