<li>
  <div class="controls">
  </div>
  <div class="title">
    <%= link_to item.name, item %>
    <% if item.has_attribute? 'fa_count' -%>
      <span class="badge badge-secondary"><%= item.attributes['fa_count'] %></span>
    <% end -%>
  </div>
</li>
