<footer class="container pt-5">
  <div class="row">
    <div class="col-12 col-md pb-3">
      <small class="d-block mb-3 text-muted">
        &copy; <%= Routenbuch.config['copyright'] %>
        <%- if Routenbuch.config.key? 'copyright_year' -%><%= Routenbuch.config['copyright_year'] %>-<%- end -%><%= Time.now.year %>
      </small>
      <small class="text-muted">powered by <a href="https://gitlab.com/routenbuch/routenbuch">Routenbuch</a></small>
    </div>
    <%- if Routenbuch.config.key? 'footer_links' -%>
      <%- Routenbuch.config['footer_links'].each do |section,links| -%>
        <div class="col-6 col-md pb-3">
          <h5><%= section %></h5>
          <ul class="list-unstyled text-small">
            <%- links.each do |link| -%>
              <li>
                <a class="text-muted" href="<%= link['href'] %>">
                  <%- if link.key? 'icon' -%>
                    <i class="fa fa-fw fa-<%= link['icon'] %>" aria-hidden="true"></i>
                  <%- end -%>
                  <%= link['label'] %>
                </a>
              </li>
            <%- end -%>
          </ul>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
</footer>
