<%- case version.event -%>
<%- when 'create' -%>
  <div class="badge badge-success"><%= _('create') %></div>
<%- when 'update' -%>
  <div class="badge badge-primary"><%= _('update') %></div>
<%- when 'destroy' -%>
  <div class="badge badge-danger"><%= _('delete') %></div>
<%- end -%>
