<%- if @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- elsif @base_object.is_a?(FirstAscentPerson) -%>
  <%= render partial: 'first_ascent_people/head', locals: { first_ascent_person: @base_object } %>
  <%= render partial: 'first_ascent_people/secondary_tab_nav', locals: { first_ascent_person: @base_object } %>
<%- elsif @base_object.is_a?(Closure) -%>
  <%= render partial: 'closures/head', locals: { closure: @base_object } %>
  <%= render partial: 'closures/secondary_tab_nav', locals: { closure: @base_object } %>
<%- elsif @base_object.present? -%>
  <%- content_for :title, _('Change history for %{object_name}') % { object_name: @base_object.name } -%>
  <%- content_for :icon, Version.icon -%>
<%- else -%>
  <%- content_for :title, _('Change history') -%>
  <%- content_for :icon, Version.icon -%>
<%- end -%>

<%= render 'versions/content-list' %>
