<% content_for :title, _('Forbidden') %>
<% content_for :icon, 'hand-stop-o' %>

<div class="text-center">
  <h1 class="display-1">403</h1>
  <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
  <p class="lead">
    <%= _('You\'re not allowed to access this resource.') %>
  </p>
</div>
