<% include_self ||= false %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= world_geo_refs_path %>"><span class="fa fa-globe"></span></a></li>
    <% geo_ref.parents.reverse.each do |parent| -%>
      <li class="breadcrumb-item"><%= link_to parent.name, geo_ref_path(parent) %></li>
    <% end -%>
    <% if include_self -%>
      <li class="breadcrumb-item"><%= link_to geo_ref.name, geo_ref_path(geo_ref) %></li>
    <% end -%>
  </ol>
</nav>
