<template>
  <div class="advanced-search-filter row mb-1">
    <div class="col-md-3">
      <select v-model="filter.field" @change="fieldChanged()" class="fields form-control" :name="fieldSelectName">
        <option value=""></option>
        <option v-for="attr in objectAttributes" :value="attr">{{attr}}</option>
        <optgroup v-for="(attributes, group) in associationAttributes" :label="group">
          <option v-for="attr in attributes" :value="group + '_' + attr">{{attr}}</option>
        </optgroup>
      </select>
    </div>
    <div class="col-md-3">
      <select v-model="filter.matcher" class="form-control" :name="matcherSelectName">
        <option v-for="(label, value) in availableMatchers" :value="value">{{label}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <input v-if="filter.matcher == 'null' || filter.matcher == 'not_null'"
        class="form-control"
        type="hidden"
        value="true"
        :name="valueInputName"></input>
      <input v-else-if="datatype == 'integer'"
        v-model="filter.value"
        class="form-control"
        type="number"
        :name="valueInputName"></input>
      <select v-else-if="datatype == 'legal_status'"
        v-model="filter.value"
        class="form-control"
        :name="valueInputName">
        <option>approved</option>
        <option>declined</option>
        <option>requested</option>
        <option>unknown</option>
      </select>
      <input v-else-if="datatype == 'boolean'"
        class="form-control"
        type="hidden"
        value="1"
        :name="valueInputName"></input>
      <input v-else-if="datatype == 'inet'"
        v-model="filter.value"
        class="form-control"
        type="text"
        placeholder="192.168.11.0/24"
        :name="valueInputName"></input>
      <input v-else-if="datatype == 'datetime'"
        v-model="filter.value"
        class="form-control"
        type="date"
        placeholder="YYYY-MM-DD"
        :name="valueInputName"></input>
      <input v-else
        v-model="filter.value"
        class="form-control"
        type="text"
        placeholder="..."
        :name="valueInputName"></input>
    </div>
    <div class="col-md-2">
      <a class="btn btn-outline-secondary" type="button" @click="$emit('remove-filter', index)">
        <span class="fa fa-minus"></span>
      </a>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: {
    attributeInfo: {
      type: Object,
      required: true,
    },
    filter: {
      type: Object,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    defaultDatatype: {
      type: String,
      default: "string",
    },
    datatypeMatcherMap: {
      type: Object,
      default: function () {
        return {
          "": {},
          "string": {
            "cont": "contains",
            "eq": "equals",
            "matches": "does match",
            "does_not_match": "does not match",
            "blank": "is empty string",
            "null": "is null",
            "not_null": "is not null",
          },
          "integer": {
            "eq": "equal",
            "lt": "less than",
            "lteq": "less or equal than",
            "gt": "greater than",
            "gteq": "greater or equal than",
          },
          "boolean": {
            "true": "is true",
            "false": "is false",
          },
          "datetime": {
            "lt": "before",
            "gt": "after",
          },
          "legal_status": {
            "eq": "is",
            "not_eq": "is not",
            "null": "is absent",
            "not_null": "is present"
          }
        }
      }
    }
  },
  methods: {
    fieldChanged: function () {
      this.filter.matcher = Object.keys(this.availableMatchers)[0];
    },
  },
  computed: {
    fieldSelectName: function () {
      return "q[c][" + this.index + "][a][0][name]";
    },
    matcherSelectName: function () {
      return "q[c][" + this.index + "][p]";
    },
    valueInputName: function () {
      return "q[c][" + this.index + "][v][0][value]";
    },
    typeMap: function () {
      var map = {}
      for(attr in this.attributeInfo) {
        if(typeof(this.attributeInfo[attr]) == 'object') {
          for(subattr in this.attributeInfo[attr]) {
            map[attr + '_' + subattr] = this.attributeInfo[attr][subattr]
          }
        } else {
          map[attr] = this.attributeInfo[attr]
        }
      }
      return map;
    },
    datatype: function () {
      if(this.filter.field == "") {
        return "";
      }
      if(this.filter.field in this.typeMap) {
        return this.typeMap[this.filter.field];
      }
      return this.defaultDatatype;
    },
    availableMatchers: function () {
      return this.datatypeMatcherMap[this.datatype]
    },
    objectAttributes: function () {
      var attrs = []
      for(attr in this.attributeInfo) {
        if(this.attributeInfo[attr] == null) { continue }

        if(typeof(this.attributeInfo[attr]) == 'string') {
          attrs.push(attr)
        }
      }
      return attrs;
    },
    associationAttributes: function () {
      var attrs = {}
      for(attr in this.attributeInfo) {
        if(this.attributeInfo[attr] == null) { continue }

        if(typeof(this.attributeInfo[attr]) == 'object') {
          attrs[attr] = Object.keys(this.attributeInfo[attr]);
        }
      }
      return attrs;
    }
  }
}
</script>
