<template>
  <div class="advanced-search-sort row mb-1">
    <div class="col-md-3">
      <select v-model="sort.field" class="fields form-control" :name="fieldSelectName">
        <option value=""></option>
        <option v-for="attr in objectAttributes" :value="attr">{{attr}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <select v-model="sort.direction" class="fields form-control" :name="directionSelectName">
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
      </select>
    </div>
    <div class="col-md-2">
      <a class="btn btn-outline-secondary" type="button" @click="$emit('remove-sort', index)">
        <span class="fa fa-minus"></span>
      </a>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: {
    attributeInfo: {
      type: Object,
      required: true,
    },
    sort: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
  },
  computed: {
    fieldSelectName: function () {
      return "q[s][" + this.index + "][name]";
    },
    directionSelectName: function () {
      return "q[s][" + this.index + "][dir]";
    },
    objectAttributes: function () {
      var attrs = []
      for(attr in this.attributeInfo) {
        if(typeof(this.attributeInfo[attr]) == 'string') {
          attrs.push(attr)
        }
      }
      return attrs;
    },
  }
}
</script>
