<template>
  <div class="advanced_search">
    <h4>
      <i class="fa fa-filter" aria-hidden="true"></i> Filters
      <a @click="addFilter" class="btn btn-sm btn-outline-secondary">
        <span class="fa fa-plus"></span> add
      </a>
    </h4>
    <advanced-search-filter
      v-for="(filter, index) in filters"
      v-bind:key="index"
      v-bind:filter="filter"
      v-bind:index="index"
      v-bind:attribute-info="attributeInfo"
      v-on:remove-filter="removeFilter"></advanced-search-filter>
    <h4 class="mt-3">
      <i class="fa fa-sort" aria-hidden="true"></i> Sorting
      <a @click="addSort" class="btn btn-sm btn-outline-secondary">
        <span class="fa fa-plus"></span> add
      </a>
    </h4>
    <advanced-search-sort
      v-for="(sort, index) in sorts"
      v-bind:key="index"
      v-bind:sort="sort"
      v-bind:index="index"
      v-bind:attribute-info="attributeInfo"
      v-on:remove-sort="removeSort"></advanced-search-sort>
  </div>
</template>

<script>
module.exports = {
  props: {
    attributeInfo: {
      type: Object,
      required: true,
    },
    initialFilters: {
      type: Array,
      default: [],
    },
    initialSorts: {
      type: Array,
      default: [],
    }
  },
  data: function () {
    return {
      filters: this.initialFilters,
      sorts: this.initialSorts,
    }
  },
  methods: {
    addFilter: function () {
      this.filters.push({
        field: "",
        matcher: "",
        value: ""
      });
    },
    removeFilter: function (index) {
      this.filters.splice(index, 1)
    },
    removeSort: function (index) {
      this.sorts.splice(index, 1)
    },
    addSort: function () {
      this.sorts.push({
        field: "",
        direction: 'asc',
      });
    }
  },
  components: {
    AdvancedSearchFilter: () => import('./AdvancedSearchFilter.vue'),
    AdvancedSearchSort: () => import('./AdvancedSearchSort.vue'),
  }
}
</script>
