<template>
  <div class="card">
    <draggable v-model="list" class="list-group" @update="onUpdate">
     <div v-for="(item, index) in list" class="list-group-item" :key="item.id">
       <i class="fa fa-arrows fa-align-justify"></i>
       {{item.name}}
       <span class="badge badge-secondary pull-right">{{index}}</span>
     </div>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import Vue from 'vue'

const SortableList = Vue.extend({
  props: {
    initialList: {
      type: Array,
      defaul: [],
    },
    reorderUrl: {
      type: String,
      required: true
    },
  },
  data: function () {
    return {
      list: this.initialList,
    }
  },
  methods: {
    priorities: function() {
      var p = {};

      this.list.forEach(function (value, index, this_array) {
        p[value.id] = index;
      });

      return p
    },
    onUpdate: function(evt){
      return this.$http.put(
        this.reorderUrl,
        {
          priorities: this.priorities()
        }
      )
    }
  },
  components: {
    draggable,
  }
});

export default SortableList;
</script>
