<template>
  <div class="strong-password-input">
    <input
      class="form-control"
      :name="name"
      type="password"
      @input="triggerCheck"
      v-model="password">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        v-bind:class="{ 'bg-success': isStrong, 'bg-danger': !isStrong}"
        v-bind:style="{ width: entropyPercent + '%' }"
        :aria-valuenow="result.entropy"
        aria-valuemin="0"
        :aria-valuemax="result.min_entropy"></div>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    checkUrl: {
      type: String,
      required: true,
    }
  },
  data: function () {
    return {
      password: '',
      passwordConfirmation: '',
      checkCount: 0,
      lastCheckCount: 0,
      checkPending: false,
      result: {
        entropy: 0,
        min_entropy: 20,
        is_strong: false
      }
    }
  },
  computed: {
    isStrong: function() {
      return this.result.is_strong
    },
    entropyPercent: function() {
      if(this.result.entropy == 0) {
        return 0
      }
      return this.result.entropy / this.result.min_entropy * 100
    }
  },
  methods: {
    triggerCheck: function() {
      this.checkCount = this.checkCount + 1;
      this.updateResult();
    },
    updateResult: function() {
      if(this.checkPending) { return }
      if(this.lastCheckCount == this.checkCount) {return}

      var mycount = this.checkCount;
      this.checkPending = true;

      params = {};
      params['password'] = this.password;
      this.$http.get(this.checkUrl, { params: params })
        .then(response => {
          this.result = response.data;
          this.updateResult();
        })
        .finally(() => {
          this.lastCheckCount = mycount;
          this.checkPending = false;
        });
    }
  }
}
</script>
