<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', :locals => { user: item.user } %>
  </div>
  <div class="controls">
    <%- if can?(:update, item) or can?(:update_kind, item) -%>
      <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_comment_path(item), class: 'btn btn-success btn-sm' %>
    <%- end -%>
    <% if can? :destroy, item -%>
      <%= link_to '<span class="fa fa-trash"></span>'.html_safe, item, method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
  <div class="title">
    <%- if item.pinned -%>
      <span data-toggle="tooltip" title="<%= _('This comment will stick to the top.') %>">
        <i class="fa fa-thumb-tack text-danger" aria-hidden="true"></i>
      </span>
    <%- end -%>
    <%- if item.private -%>
      <span class="badge badge-danger" data-toggle="tooltip" title="<%= _('This is a private comment') %> ">
        <i class="fa fa-user-circle"></i>
      </span>
    <%- end -%>
    <%= link_to item.user.display_name, item.user %>
    <%= _('commented on %{target_link}').html_safe % { target_link: link_to(item.target.name, item.target.as_base_class) } %>
    <small>
      <%= _(item.kind) %> - <%= item.created_at.strftime('%Y-%m-%d') %>
      <%- if item.deleted? -%>
        <span data-toggle="tooltip" title="<%= _('This comment has been deleted on %{deleted_at}') % { deleted_at: l(item.deleted_at) } %>">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
      <%- elsif item.user_modified? -%>
        <span data-toggle="tooltip" title="<%= _('This comment has been modified on %{updated_at}') % { updated_at: l(item.updated_at) } %>">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </span>
      <%- end -%>
    </small>
  </div>
  <% if item.kind == 'beta' %><spoiler-overlay><% end -%>
  <div class="description comment-body">
    <%- if item.deleted? -%>
      <small class="text-muted">[<%= _('Comment has been removed.') %>]</small>
    <%- else -%>
      <%= markdown item.body %>
    <%- end -%>
  </div>
  <% if item.kind == 'beta' %></spoiler-overlay><% end -%>
</li>
