<%-
  size ||= '1x'
  width, height = case size
                  when '1x'
                    [18, 18]
                  when '2x'
                    [28, 28]
                  when '3x'
                    [42,42]
                  end
  tooltip ||= "#{item.name}: #{item.body}"
-%>
<img width="<%= width %>" height="<%= height %>" src="<%= asset_path(item.icon_path) %>" data-toggle="tooltip" data-placement="top" title="<%= tooltip %>">
