<%- if @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- elsif @base_object.is_a?(User) -%>
  <%- content_for :title, _('My Photos') -%>
  <% content_for :icon, Photo.icon -%>
<%- else -%>
  <%- content_for :title, _('All Photos') -%>
  <% content_for :icon, Photo.icon -%>
<%- end -%>

<%- if @base_object && can?(:create, Photo.new(target: @base_object, user: current_user)) -%>
  <%- content_for :buttons do -%>
  <%= icon_link_to(
    'upload',
    _('Upload photo'),
    polymorphic_url([@base_object.as_base_class,Photo], action: :new),
    class: 'btn btn-primary'
  ) %>
  <% end -%>
<% end -%>

<%= render(
  'common/content_list',
  result: @photos,
  row_options: {
    include_geo_ref: @base_object.nil?
  },
  geo_ref_headers: true
) %>
