<% content_for :buttons do %>
  <% if can?(:update, first_ascent_person) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_first_ascent_person_path(first_ascent_person),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, first_ascent_person.name %>
<% content_for :icon, first_ascent_person.icon %>
