<%= render_navigation do |primary|
  primary.item(
    :info,
    {
      icon: 'info',
      text: _('Info'),
    },
    first_ascent_person_path(first_ascent_person)
  )
  primary.item(
    :routes,
    {
      icon: 'book',
      text: _('Routes'),
    },
    first_ascent_person_routes_path(first_ascent_person)
  )
  primary.item(
    :versions,
    {
      text: _('Change history'),
      icon: Version.icon,
    },
    first_ascent_person_versions_path(first_ascent_person)
  ) if can?(:read, Version.new(item: FirstAscentPerson.new))
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
