<%- content_for :buttons do -%>
  <% if can?(:destroy, @route) -%>
    <%= link_to(
      "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,
      @route,
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger pull-right' 
    ) %>
  <% end %>
<% end %>

<%- content_for :title, _('Editing Route') -%>
<%- content_for :icon, @route.icon -%>

<%= render 'form', route: @route %>
