<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- elsif @base_object.is_a?(FirstAscentPerson) -%>
  <%= render partial: 'first_ascent_people/head', locals: { first_ascent_person: @base_object } %>
  <%= render partial: 'first_ascent_people/secondary_tab_nav', locals: { first_ascent_person: @base_object } %>
<%- else -%>
  <%- content_for :icon, Route.icon -%>
  <%- content_for :title, _('Routes') -%>
<%- end -%>

<%= render 'advanced_search/form',
  advanced_mode: @advanced_mode,
  simple_label: 'Search',
  simple_search_field: :search_full_text,
  simple_placeholder: 'Search terms...',
  q: [@base_object&.as_base_class, @q] %>

<%= render(
  'common/content_list',
  result: @routes
) %>
