<%- unless Routenbuch.config[:background_url].nil? -%>
@media (min-width: 768px) {
  html,body {
    background-image: url("<%= Routenbuch.config[:background_url] %>")
  }
}
<%- end -%>

<%- small_logo_url = Routenbuch.config[:classic_small_logo_url] || Routenbuch.config[:small_logo_url] -%>
<%- if small_logo_url -%>
@media (max-width: 991px) {
  div#brand-text {
    display: none;
  }
  div#brand-logo {
    background-image: url("<%= small_logo_url %>");
    background-size: cover;
    margin: -15px;
    width: 120px;
    height: 60px;
  }
}
<%- end -%>

<%- logo_url = Routenbuch.config[:classic_logo_url] || Routenbuch.config[:logo_url] -%>
<%- if logo_url -%>
@media (min-width: 992px) {
  div#brand-text {
    display: none;
  }
  div#brand-logo {
    background-image: url("<%= logo_url %>");
    background-size: cover;
    width: 100%;
    height: 80px;
  }
}
<%- end -%>
