<%- include_geo_ref ||= false %>
<%- geo_refs ||= [] %>
<%- routes ||= [] %>
<li>
  <div class="controls">
    <small>
      <%= l(item.active_changed_at) %>
    </small>
  </div>
  <div class="title">
    <%- if include_geo_ref -%>
      <%= link_to item.geo_ref.name, geo_ref_closures_path(item.geo_ref) %> /
    <%- end -%>
    <%= link_to item.name, item %>
    <%- if item.active? -%>
      <i class="fa fa-lock text-danger" aria-hidden="true"></i>
    <%- else -%>
      <i class="fa fa-unlock text-success" aria-hidden="true"></i>
    <%- end -%>
      <small>
        <%= item.closure_reason.present? ? "#{_(item.closure_reason.name)} /" : '' %>
        <%= _(item.kind) %>
      </small>
  </div>
    <div class="description">
      <%= geo_refs.map { |gr| icon_link_to gr, gr.name, geo_ref_path(gr), class: 'text-secondary' }.join(' ').html_safe %>
      <%= routes.map { |r| icon_link_to r, r.name, route_path(r), class: 'text-secondary' }.join(' ').html_safe %>
    </div>
</li>
