div#page {
  height:auto !important;
  min-height:100%;
  background-color: #fff;
  overflow: hidden;
}

div#main-row {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

@media (min-width: 768px) {
  html,body {
    height:100%;
    width: 100%;
    background-color: #70cdf9;
    background: url(<%= asset_path 'background.jpg' %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  div#content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.navbar-brand {
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 440px) {
  form#global-search {
    width: 200px;
  }
}

