<%= render_navigation do |primary|
  primary.item(
    :members,
    {
      icon: 'user',
      text: "#{_('Members')} <span class=\"badge badge-secondary\">#{@members_count}</span>".html_safe,
    },
    members_admin_users_path
  )
  primary.item(
    :contributors,
    {
      icon: 'user-o',
      text: "#{_('Contributors')} <span class=\"badge badge-secondary\">#{@contributors_count}</span>".html_safe,
    },
    contributors_admin_users_path
  )
  primary.item(
    :admins,
    {
      icon: 'user-circle',
      text: "#{_('Admins')} <span class=\"badge badge-secondary\">#{@admins_count}</span>".html_safe,
    },
    admins_admin_users_path
  )
  primary.item(
    :index,
    {
      icon: 'users',
      text: "#{_('All users')} <span class=\"badge badge-secondary\">#{@users_count}</span>".html_safe,
    },
    admin_users_path
  )
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
