<% content_for :title, _('Editing user') %>
<% content_for :icon, @user.icon %>

<% content_for :buttons do %>
  <% if can?(:admin, @user) -%>
    <%= icon_link_to(
      'trash',
      _('Delete'),
      admin_user_path(@user),
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger pull-right'
    ) %>
  <% end %>
<% end %>

<%= render 'form' %>
