<% content_for :title do -%>
  <%= _('Routenbuch identifier: %{rbid}') % { rbid: @rbid.rbid } %>
<%- end -%>
<% content_for :icon, @rbid.icon %>

<h3><%= _('Information') %></h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('Shortlink') %></th>
      <td>
        <%= url = rbid_redirect_url(@rbid.rbid) ; link_to url, url %>
        <clipboard-button value="<%= url %>">
      </td>
    </tr>
    <tr>
      <th><%= _('RBID') %></th>
      <td>
        <%= @rbid.rbid %>
        <clipboard-button value="<%= @rbid.rbid %>">
      </td>
    </tr>
    <tr>
      <th><%= _('Numeric ID') %></th>
      <td><%= @rbid.id %></td>
    </tr>
    <tr>
      <th><%= _('Hint') %></th>
      <td><%= @rbid.hint %></td>
    </tr>
    <tr>
      <th><%= _('QR code') %></th>
      <td>
        <img src="<%= qrcode_rbid_path(@rbid, format: :svg) %>" alt="QR code" class="img-thumbnail">
      </td>
    </tr>
  </tbody>
</table>

<h3><%= _('Target') %></h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('Link') %></th>
      <td><%= path = polymorphic_path(@rbid.item.as_base_class) ; link_to path, path %></td>
    </tr>
    <tr>
      <th><%= _('Type') %></th>
      <td><%= _(@rbid.item_type) %></td>
    </tr>
    <tr>
      <th><%= _('ID') %></th>
      <td><%= _(@rbid.item_id) %></td>
    </tr>
  </tbody>
</table>
