  <%-
    color, icon = if closure.active?
                    ['danger', 'lock']
                  else
                    ['success', 'unlock']
                  end
  -%>
<div class="alert alert-<%= color %>" role="alert">
  <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
  <%= link_to "#{_('Closure')}: #{closure.name}", closure, class: 'alert-link' %><br>
  <%-
    closure_with_type = case closure.kind
                        when 'fixed' then _('Fixed closure')
                        when 'flexible' then _('Flexible closure')
                        when 'temporary' then _('Temporary closure')
                        else
                          _('Closure')
                        end
    start_at = unless closure.start_at.nil?
                 l(closure.start_at, format: :long)
               else
                 '-'
               end
    end_at = unless closure.end_at.nil?
               l(closure.end_at, format: :long)
             else
               '-'
             end
  -%>
  <%= _("%{closure_with_type} from %{start} to %{end}.") % {
    closure_with_type: closure_with_type,
    start: start_at,
    end: end_at
  } %>
  <%- if closure.active? && closure.description.present? -%>
    <%= markdown(closure.description) %>
  <%- end -%>
</div>
