<%= render_navigation do |primary|
  primary.dom_class = 'nav nav-tabs mb-3'
  primary.item(
    :info,
    {
      icon: 'info',
      text: _('Info'),
    },
    closure_path(closure)
  )
  primary.item(
    :versions,
    {
      text: _('Change history'),
      icon: Version.icon,
    },
    closure_versions_path(closure)
  ) if can?(:read, Version.new(geo_ref: closure.geo_ref))
end %>
