<% content_for :title, _('New Closure') %>
<% content_for :icon, Closure.icon %>

<%= form_tag(new_geo_ref_closure_path(@base_object), method: :get) do %>
  <div class="form-group">
    <%= label :closure_template, :template_id, _('Closure template') %>
    <%= collection_select(:closure_template, :template_id, @templates.map { |t| OpenStruct.new(id: t.id, name: _(t.name)) }, :id, :name, {}, { class: 'form-control' }) %>
  </div>
  <%= submit_tag _('Use template'), class: 'btn btn-primary' %>
  <%= link_to _('Continue'), new_geo_ref_closure_path(@base_object), class: 'btn btn-outline-secondary' %>
<% end %>

