<%= render partial: 'closures/head', locals: { closure: @closure } %>
<%= render partial: 'closures/secondary_tab_nav', locals: { closure: @closure } %>

<%= markdown(@closure.description) unless @closure.description.blank? %>

<table class="table">
  <tr>
    <th><%= _('Current status') %></th>
    <td>
      <%- if @closure.active? -%>
        <i class="fa fa-lock text-danger" aria-hidden="true"></i> <%= _('closed') %>
      <%- else -%>
        <i class="fa fa-unlock text-success" aria-hidden="true"></i> <%= _('open') %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= _('Reason') %></th>
    <td><%= @closure.closure_reason.present? ? _(@closure.closure_reason.name) : '-' %>
  </tr>
  <tr>
    <th><%= _('Type') %></th>
    <td><%= _(@closure.kind) %>
  </tr>
  <%- fmt = proc { |d| d.nil? ? 'xx' : "%02d" % d } -%>
  <tr>
    <th><%= _('Regular start') %></th>
    <td>xxxx-<%= fmt.call(@closure.regular_start_month) %>-<%= fmt.call(@closure.regular_start_day_of_month) %></td>
  </tr>
  <tr>
    <th><%= _('Regular end') %></th>
    <td>
      xxxx-<%= fmt.call(@closure.regular_end_day_of_month) %>-<%= fmt.call(@closure.regular_end_month) %>
      <%- if @closure.regular_days_closed.present? -%>
        (<%= _('%{days} days') % { days: @closure.regular_days_closed } %>)
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= _('Effective start') %></th>
    <td><%= @closure.start_at %></td>
  </tr>
  <tr>
    <th><%= _('Effective end') %></th>
    <td>
      <%= @closure.end_at %>
      <%- if @closure.days_closed.present? -%>
        (<%= _('%{days} days') % { days: @closure.days_closed } %>)
      <%- end -%>
    </td>
  </tr>
</table>

<h3>
  <%= icon_for SeasonClosure %> <%= _('Extraordinary closures') %>
  <% if can?(:create, SeasonClosure.new(closure: @closure)) -%>
    <%= icon_link_to(
      'plus',
      _('Add'),
      new_closure_season_closure_path(@closure),
      class: 'btn btn-secondary btn-sm'
    ) %>
  <% end %>
</h3>

<%= render(
  'common/content_list',
  result: @closure.season_closures,
  paginate: false,
  row_options: {
    active_item: @closure.current.season_closure
  }
) %>

<h3 class="mt-3">
  <%= icon_for GeoRef %> <%= _('Affected locations') %>
  <%- if can? :update, @closure -%>
    <%= icon_link_to(
      'plus',
      _('Add'),
      add_geo_ref_form_closure_path(@closure),
      class: 'btn btn-secondary btn-sm'
    ) %>
  <% end -%>
</h3>

<%= render(
  'common/content_list',
  result: @closure.geo_refs.accessible_by(current_ability, :read),
  paginate: false,
  row_options: proc do |geo_ref|
    if can?(:update, @closure) && can?(:update, geo_ref)
      controls = capture do -%>
        <%= link_to(
          '<span class="fa fa-trash"></span>'.html_safe,
          remove_geo_ref_closure_path(@closure, geo_ref_id: geo_ref.id),
          class: 'btn btn-success btn-sm',
          method: :post
        ) %>
      <%- end
    end
    {
      controls: controls
    }
  end
) %>

<h3 class="mt-3">
  <%= icon_for Route %> <%= _('Affected routes') %>
  <%- if can? :update, @closure -%>
    <%= icon_link_to(
      'plus',
      _('Add'),
      add_route_form_closure_path(@closure),
      class: 'btn btn-secondary btn-sm'
    ) %>
  <% end -%>
</h3>

<%= render(
  'common/content_list',
  result: @closure.routes.accessible_by(current_ability, :read),
  paginate: false,
  row_options: proc do |route|
    if can?(:update, @closure) && can?(:update, route)
      controls = capture do -%>
        <%= link_to(
          '<span class="fa fa-trash"></span>'.html_safe,
          remove_route_closure_path(@closure, route_id: route.id),
          class: 'btn btn-success btn-sm',
          method: :post
        ) %>
      <%- end
    end
    { controls: controls }
  end
) %>

<%= render partial: 'rbids/links', locals: { rbids: @rbids } %>
