<%- show_origin ||= false -%>
<%- show_controls ||= false -%>
<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', :locals => { user: item.user } %>
  </div>
  <div class="controls">
    <%- if show_controls -%>
      <%- if can?(:update, item) -%>
        <%= link_to(
          '<span class="fa fa-edit"></span>'.html_safe,
          edit_geo_ref_permission_path(item.geo_ref, item),
          class: 'btn btn-success btn-sm',
        ) %>
      <%- end %>
      <%- if can?(:destroy, item) -%>
        <%= link_to(
          '<span class="fa fa-trash"></span>'.html_safe,
          geo_ref_permission_path(item.geo_ref, item),
          class: 'btn btn-danger btn-sm',
          method: :delete,
          data: {
            confirm: _('Are you sure?')
          }
        ) %>
      <%- end %>
    <%- end %>
  </div>
  <div class="title">
    <%= link_to item.user.name, admin_user_path(item.user) %>
    <small>
      <%= item.user.email %>
    </small>
  </div>
  <div class="content">
    <%- if show_origin -%>
      <%=
        _('has %{level} permissions on %{location_link}').html_safe % {
          level: "<b>#{item.level}</b>".html_safe,
          location_link: link_to(item.geo_ref.name, geo_ref_permissions_path(item.geo_ref.as_base_class))
        }
      %>
    <%- else -%>
      <%= _('has %{level} permissions').html_safe % { level: "<b>#{item.level}</b>".html_safe } %>
    <%- end -%>
  </div>
</li>
