<% content_for :buttons do %>
  <%= link_to(
    "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,(
      @ticklist,
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger pull-right'
    ) %>
<% end %>
<% content_for :title, _('Editing Ticklist') %>
<% content_for :icon, @ticklist.icon %>

<%= render 'form', ticklist: @ticklist %>
