  <div class="container-fluid mt-3" id="content">
		<% flash.each do |type, message| %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
				<%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<% end %>

    <%= content_for :tab_nav if content_for? :tab_nav -%>

    <div class="d-flex">
      <div class="mr-auto">
        <%= content_for :breadcrumb if content_for? :breadcrumb %>
      </div>
      <%- if content_for? :buttons -%>
        <div class="mr-2">
          <%= content_for :buttons -%>
        </div>
      <%- end -%>
      <%- if content_for? :dropdown -%>
        <div class="dropdown">
          <button type="button"
                  class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <%= content_for :dropdown %>
          </ul>
        </div>
      <%- end -%>
    </div>

    <%- if content_for? :title -%>
      <div class="d-flex">
        <div class="mr-auto">
          <h1>
            <%- if content_for? :icon -%>
              <i class="fa fa-<%= content_for :icon %>"></i>
            <%- end -%>
            <%= content_for :title %>
          </h1>
        </div>
        <%- if content_for? :title_right -%>
          <div>
            <%= content_for :title_right -%>
          </div>
        <%- end -%>
      </div>
      <hr class="mt-1 mb-2"></hr>
    <%- end -%>

    <div id="vue-app">
      <%= yield %>
    </div>
  </div>
