<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'classic', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="all" href="<%= custom_layout_path %>" data-turbolinks-track="true" />
  <%- unless custom_css_url.nil? -%>
    <link rel="stylesheet" media="all" href="<%= custom_css_url %>" data-turbolinks-track="true" />
  <%- end -%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container shadow" id="page">
  <div class="row" id="main-row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" id="left">
      <div id="sidebar">
        <%= render 'layouts/classic/main_navigation' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9" id="main">
      <div class="container-fluid mb-0 border-bottom" id="banner">
        <div class="row">
          <div class="col-auto mr-auto">
          </div>
          <div class="col-auto">
            <%= render 'layouts/help_navigation' %>
          </div>
          <div class="col-auto">
            <%= render 'layouts/user_navigation' %>
          </div>
        </div>
      </div>

      <%= content_for :cover_photo -%>
      <%= render 'layouts/page_content' %>
      <%= render 'layouts/classic/footer' %>
    </div><!-- col -->

  </div><!-- row -->
</div><!-- container -->

</body>
</html>
